*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5e3c3; 
  color: #333;
  min-height: 100vh;
}

.landing {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.borrow_section {
  margin-bottom: 40px;
}

.borrow {
  display: flex;
  gap: 20px;
  max-width: 80%;
  margin: 40px auto;
  background: #edd8bc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(87, 48, 14, 0.901);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.borrow > img {
  max-width: 280px;
  border-radius: 8px;
}

.borrow_details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.borrow_details h2 {
  font-size: 28px;
  font-weight: bold;
  color: #2a2525;
}

.borrow_details .borrow_details_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.borrow_details .borrow_details_info label {
  font-size: 18px;
  font-weight: 600;
  color: #080606;
  
}

.borrow_details .borrow_details_info h4 {
  font-size: 18px;
  font-weight: 400;
  color: #2b2828;
  font-style: italic;
}

.borrow_details form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.borrow_details form input {
  width: 100%;
  max-width: 220px;
  padding: 8px;
  border: 1px solid #674a4a;
  border-radius: 5px;
  font-size: 16px;
  background-color: #faf6f4;
}

.borrow_details form button {
  max-width: 160px;
  padding: 10px;
  background: #28a745;
  color: rgb(252, 251, 251);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.borrow_details form button:hover {
  background: #218838;
}

.book_info_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}




.book img {
  width: 100%;
  height: auto;
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.back {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    color: #62400e;
}


